<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>A Tech Blog</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.11.2/css/all.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <nav class='navbar navbar-expand-lg navbar-light bg-light shadow fixed-top'>
    <div class='container'>
      <a class='navbar-brand' href='/'>A Tech Blog</a>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive'
        aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarResponsive'>
        <ul class='navbar-nav ms-auto'>
          <li class='nav-item active'>
            <a class='nav-link' href='/'>Home</a>
          </li>

          <li class='nav-item'>
            <a class='nav-link' href='/dashboard'>Dashboard</a>
          </li>

          {{#if loggedIn}}
          <li class='nav-item'>
            <button class='nav-link btn-no-style' id='logout'>Logout</button>
          </li>

          {{else}}
          <li class='nav-item'>
            <a class='nav-link' href='/login'>Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <div class='masthead'>
    <div class='container h-100'>
      <div class='row h-100 align-items-center'>
        <div class='col-12 text-center'>
        </div>
      </div>
    </div>
  </div>

  <section>
    <main clsss='d-flex flex-row justify-content-center'>
      {{{ body }}}
    </main>
  </section>

  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js'></script>
  {{#if loggedIn}}
  <script src='/javascript/logout.js'></script>
  {{/if}}
</body>

</html>